* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    line-height: 25px;
    color: grey;
    min-width: 540px;
}

.wrapper {
    padding: 20px;
}

.form {
    display: flex;
}

.inp-task {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid grey;
    outline-color: orangered;
}

.label {
    margin: 5px 10px 0 0;
}

.button {
    padding: 10px 40px;
    border-radius: 30px;
    background-color: rgb(240, 177, 60);
    border: 1px solid grey;
    cursor: pointer;
    outline: none;
    align-self: flex-start;
}

.button:active {
    transform: scale(0.95);
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    /* height: 100vh;
    overflow: auto; */
}

.task-list {
    display: flex;
    flex-wrap: wrap;
}

.todo-item {
    display: flex;
    padding: 80px 20px 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 45);
    margin: 0 10px 20px 0;
    position: relative;
    border-radius: 5px;
    width: 30%;
}

.todo-item-small {
    width: 50%;
}

.todo-item-smaller {
    width: 30%;
}

.todo-item:hover {
    box-shadow: 5px 9px 8px lightgrey;
    transition: 0.7s;
}

.todo-item:nth-child(3n) {
    margin-right: 0;
}

/* .todo-item:nth-child(2n) {
    margin-right: 0;
} */

.todo-item-button {
    position: absolute;
    top: 0;
    right: 0;
}

.todo-item-button:hover {
    background-color: rgb(226, 24, 24);
    transition: 0.5s;
    transition-property: background-color;
    border: none;
    border-radius: 2px;
    padding: 3px 8px;
    cursor: pointer;
}

.todo-item-button:active {
    transform: scale(0.9);
}

.todo-item-done {
    background-color: rgb(42, 214, 42);
}

.warning {
    color: red;
    font-size: 16px;
    line-height: initial;
    margin: 3px 0 0;
}

.input-wrap {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 0;
}

.hr {
    margin: 0;
}